* text=auto eol=lf

*.ts linguist-language=TypeScript
*.html linguist-language=HTML
*.css linguist-language=CSS
*.json linguist-language=jsonc

*.svg text eol=lf
*.md text eol=lf diff=markdown
*.yaml text eol=lf
*.yml text eol=lf

package-lock.json -diff
